.add-table {
  font-size: 14px;
  border-collapse: collapse;
  width: 60%;
  position: relative;
  top: 10%;
  right: 15%;
  margin: 0 auto;
  td,
  th {
    padding: 5px 10px;
  }
  &,
  tr,
  td,
  th {
    border: 1px solid rgba(105, 105, 105, 0.432);
  }
  tr:nth-child(even) {
    background-color: #b6c0fa4b;
  }
  th {
    background-color: #afc2ffd2;
    height: 2rem;
    text-align: left;
    color: blue;
  }
  td {
    height: 2rem;
  }
  input {
    @extend %reset-input;
    border: 1px solid rgba(211, 211, 211, 0.507);
    background-color: white;
  }
  button {
    @extend %reset-button;
    background-color: rgb(46, 46, 46);
    @include size(30px,20px);
    cursor:pointer;
  }
}